[2020-02-23 16:54] antgonza opened #3 "Dude, Where's My Tree?"
Following the gOTU example, the next section is using QIIME2 for analysis but is not clear where the tree being used comes from; [see](https://github.com/qiyunzhu/woltka/tree/dev#gotu-analysis-using-qiime-2). Additionally, looking around those instructions I couldn't find any complete information about this tree.

[2020-02-23 16:55] antgonza opened #4 "Output BIOM?"
Currently, the output is tsv but it might be better to just output a biom or perhaps a qza. However, I might be missing something, so is there any reason to output a tsv?

[2020-02-23 16:57] antgonza opened #5 "Branches confusion master vs. dev?"
It's confusing which branch is the default. Thus, should the dev branch be the default branch? Perhaps merge master and dev? No idea! The issue is that if you are in the dev branch and you click on the wolka repository link at the top, it will take you to the default branch, which is master ...

[2020-02-23 17:00] antgonza opened #6 "Which parameters does the gotu command actually uses?"
Going over the code is super confusing to know exactly which parameters or values the `gotu` command is using. It looks like `gotu` calls the `classify` command without any parameters (everything is None) and then this calls workflow and then there is a few calls to other functions but with everything None is not clear.

Another way to think about this question is: what's the difference between `c

[2020-02-23 18:59] qiyunzhu commented on #6
@antgonza Thanks for the insightful comments! `gotu` is a minimal subset of `classify`, i.e., no classification; just assign queries to subjects but not to higher classification units. So it does not need most of the parameters of the `classify` command. In this program, `gotu` and `classify` shares the same workflow to ensure comparability between results.

The functions being called will return

[2020-02-23 19:00] qiyunzhu commented on #5
@antgonza Now the prototype codes are at `dev`, I think that after code review (kindly offered by @gwarmstrong ) we can merge into `master`. After that, new PRs should all go to `master`.

[2020-02-23 19:02] qiyunzhu commented on #4
The standalone version outputs **tsv**, while the QIIME 2 plugin outputs **qza**. I am going to add a mechanism to allow the former do biom too.

[2020-02-23 19:05] qiyunzhu commented on #3
Good point! The tree is a resource downloadable from the WoL website, but as you said the instruction is vague for users who don't want to go thru the entire WoL website. Currently, a pre-compiled tree for QIIME 2 (type `Phylogeny[Rooted]`) is available from our data release, which is a Globus endpoint, and is not very straightforward. Having the file downloadable from the website should be favora

[2020-02-24 13:14] antgonza commented on #6
Thank you for the explanation; perhaps worth adding this information to the documentation and clearly list all the parameters used for each command.

[2020-02-24 13:14] antgonza commented on #5
Got it, thanks! I guess this can also be closed once dev becomes master ...

[2020-02-24 13:33] antgonza commented on #4
I'll argue that for compatibility between tools and to skip one step for users processing, we should only output biom. However, this might depend on the sparsity of the data in the tables; my _only_ test seems to confirm this idea as it saves some space with biom and we have access to quick summaries with this format:
[code]

[2020-02-24 13:34] antgonza commented on #3
Yeah, adding these lines to the documentation will be super helpful; thank you.

[2020-03-14 22:50] qiyunzhu opened #7 "Add Bracken-like classification algorithm"
Quote @gwarmstrong from #1 :

[2020-03-17 23:24] gwarmstrong opened #8 ".partition("\t")[0] is faster than .split("\t", 1)[0]"
https://github.com/qiyunzhu/woltka/blob/862cab09e3da201cf8db20b4968849950fcc0fd5/woltka/util.py#L251

For some reason using `.partition` in this use case is a bit faster than `.split`.

Here is a relevant stackoverflow thread: https://stackoverflow.com/questions/27387415/how-would-i-get-everything-before-a-in-a-string-python/27387468

Note that I don't think the pre-compiled regex holds in this ca

[2020-03-17 23:42] gwarmstrong opened #9 "Could speed up counting list items by using collections.Counter"
https://github.com/qiyunzhu/woltka/blob/862cab09e3da201cf8db20b4968849950fcc0fd5/woltka/util.py#L190-L206

How large do you expect lists to be for using `count_list` here? It seems to me it could be replaced by `Counter` from pythons `collections`. If they will be large lists, `Counter` appears to offer a speedup.

[code]

[2020-03-18 22:04] gwarmstrong opened #10 "TODO: delineate of all of the places in the code where auto-decisions are made and the logic used to determine parameter values"
The goal of this issue is to delineate of all of the places in the code where auto-decisions are made and the logic used to determine parameter values. @qiyunzhu you should be able to edit the body of this message to help me maintain the list.

* Whether reporting subject ID is okay (--subok): If the user supplies a classification system, then subok = False; if not, then subok = True, since there

[2020-03-18 22:46] qiyunzhu opened #11 "Design a logo"
Upon Daniel's recommendation.

[2020-03-19 17:46] qiyunzhu commented on #8
Thank you for noting this! In this particular place, performance is not important. But it is potentially useful in multiple other places where performance is critical. This motivated me to change this as well as the other places, such as `demultiplex` and in `classify.py`. Commit [c188d1f](https://github.com/qiyunzhu/woltka/commit/c188d1fad2b1dcba6f2466f95032c7f5af840bf8).

PS: I hope that we upgr

[2020-03-19 17:52] qiyunzhu commented on #9
Thanks for doing this rigorous benchmarking! Very helpful information!

The function `count_list` is to group multiple subjects mapped to one query. In most situations there won't be many of them. For example, in SHOGUN, BURST returns only one subject, Bowtie2 returns up to 16 subjects. In default Bowtie2, only one subject is returned. Moreover, the change that multiple sample subjects are mapped

[2020-03-19 18:48] gwarmstrong commented on #9
Hmmm. I might still propose to replace `count_list` with `Counter` to cut down on extra code, as this functionality already ships with python, and any code we write is ultimately code we have to maintain. But this can remain an open _minor_ issue for the future.

[2020-03-19 19:03] qiyunzhu commented on #9
I understand. `Counter` could potentially be very helpful in optimizing other parts of this program. We can track down to these other cases. If we have to use `Counter` in at least one place, there is more reason to use `Counter` in all cases.

[2020-03-19 19:44] gwarmstrong opened #12 "Is there a more robust way to infer alignment file format?"
I am a bit wary about inferring the file format like this. Are there more rigorous checks we could do?
https://github.com/qiyunzhu/woltka/blob/862cab09e3da201cf8db20b4968849950fcc0fd5/woltka/align.py#L169-L203

[2020-03-19 20:02] qiyunzhu commented on #12
I currently do not have a good idea. Working with those large files is naturally hard. One cannot be very certain of the file format unless they read the entire file. Therefore, I tend to let the user be responsible for the integrity of the input file format. In the documentation I state clearly what are the options for input alignment files.

`SAM` and `BLAST` are two very common formats, and one

[2020-03-20 18:24] gwarmstrong opened #13 "Show the tree for example directory in readme"
Can you include something like the following snippet to be very explicit about what the directory looks like? For the example `input` section in the README
[code]

_Originally posted by @gwarmstrong in https://github.com/qiyunzhu/woltka/pull/1_

[2020-03-20 18:26] gwarmstrong opened #14 "EPIC: review first major contributions to woltka"
This issue is to keep track of files that have been reviewed as a part of the first major review of woltka. This may take place over several reviews and PR's. This issue should remain open until all the major files have been reviewed.

### TODO

- [ ] overall design
- [ ] command-line interfaces
    - [x] `cli.py`
    - [ ] `q2`
- [ ] `classify.py` (classification workflow)
~~- [ ] `sample.py` (sa

[2020-03-20 18:33] gwarmstrong opened #15 "Rigorously define what a 'simple map' is."
'simple map' is referenced multiple places through the `README`, but it is still unclear to me what is, and is not, a valid 'simple map'.

_Originally posted by @gwarmstrong in https://github.com/qiyunzhu/woltka/pull/1_

[2020-03-20 21:39] qiyunzhu opened #16 "Take care with "rank table""
"rank table" or `ranktb` is not a good name. What is the best way to describe "a table with rows as subjects and columns as ranks and cell values as assignments at particular rank for particulr subject, and columns are sorted in hierarchical order from high (left) to low (right).

[2020-03-20 23:16] qiyunzhu opened #17 "Allow input as a sample ID to filepath mapping file"
_Originally posted by @gwarmstrong in https://github.com/qiyunzhu/woltka/pull/1_

[2020-03-21 00:22] qiyunzhu commented on #17
Feature added in commit [66cfa9c](https://github.com/qiyunzhu/woltka/pull/1/commits/66cfa9cf115dcdf548fc4ef2baab951442c8a4d9).

[2020-03-21 00:31] qiyunzhu commented on #15
Improved the description of "simple map" in multiple places in commit [66cfa9c](https://github.com/qiyunzhu/woltka/pull/1/commits/66cfa9cf115dcdf548fc4ef2baab951442c8a4d9).

The term "simple map" appears multiple times, and they refer to different things. The only common point is that they are all tab-delimited files. I added description to every instance where it occurs, as e.g., "a simple map of

[2020-03-21 00:32] qiyunzhu commented on #16
_Originally posted by @gwarmstrong in https://github.com/qiyunzhu/woltka/pull/1_

[2020-03-21 00:49] qiyunzhu opened #18 "Rework the "gOTU" term and subcommand"
This term needs to be revised. And the subcommand `gotu` may or may not need to exist in the current form.

[2020-03-22 19:07] #8 closed

[2020-03-22 19:07] #17 closed

[2020-03-22 19:25] qiyunzhu opened #20 "High priority: Stratification"
This will be the last and one of the most important piece of feature in the currently envisioned design goal of Woltka. It will enable stratified taxonomy-functional classification.

The design is simple: Just add a new parameter `--stratify` which points to a read-to-feature mapping file like:

[code]

This file will instruct Woltka to stratify new classification results. For example, without str

[2020-03-22 19:33] qiyunzhu commented on #4
Have made BIOM the default output format. Thanks for the information and benchmarking! I agree that compatibility with our other tools is top priority!

[2020-03-22 19:33] #4 closed

[2020-03-22 19:35] qiyunzhu commented on #5
Now everything is updated to the master branch. Thanks to @gwarmstrong 's code review effort! Will work on the master branch (by sending smaller PRs to it) starting from now.

[2020-03-22 19:35] #5 closed

[2020-03-22 19:42] qiyunzhu commented on #16
I carefully thought about this, and figured that there is a good solution: combine `--ranktb` and `--map` into one format. It will be a tab-delimited file with arbitrary number of columns. Column headers (ranks) are optional. When there is only one column (other than feature ID), it is identical to a map.

[2020-03-22 19:44] qiyunzhu opened #21 "Build up QIIME 2 plugin"
Currently it is functional but very simple. Need to upgrade it so that it provides most if not all features of `woltka classify`.

[2020-03-23 19:23] gwarmstrong commented on #15
Closed in favor of #16

[2020-03-23 19:23] #15 closed

[2020-04-01 00:51] qiyunzhu opened #23 "Benchmarks of string concatenation methods"
It appears that the **f-string** feature introduced since Python 3.6 is the fastest way to concatenate two strings.

[code]

Also see [here](https://medium.com/@gusgoulart/python-f-strings-fun-strings-fast-strings-beeae4ddd1a)

[2020-04-02 16:05] qiyunzhu opened #24 "Benchmark of tuple conversion methods"
The fastest way of converting an iterable into a tuple is through unpacking (`*`):

[code]

Also for information are the memory footprints:

[code]

[2020-04-03 21:38] emikoifish opened #26 "Optional Arguments"
https://github.com/qiyunzhu/woltka/blob/9f1242a9a24e248e2390fe662e824b3730363858/woltka/classify.py#L41

In the docstring "root" is an optional argument for assign_free, but when the function is defined, it does not appear to be an optional argument, as it has no default value. Is it actually optional?

Also, are the optional arguments in assign_rank actually optional too?

https://github.com/qiyu

[2020-04-06 21:37] adswafford opened #27 "Updating woltka in existing conda"
Just as a heads up, after activating my previous woltka conda environment, when I ran:

pip install git+https://github.com/qiyunzhu/woltka.git --upgrade

I got the error message:
Collecting git+https://github.com/qiyunzhu/woltka.git
  Cloning https://github.com/qiyunzhu/woltka.git to /tmp/pip-req-build-93q92ldy
  Running command git clone -q https://github.com/qiyunzhu/woltka.git /tmp/pip-req-buil

[2020-04-06 21:49] qiyunzhu commented on #27
Hi @adswafford Thanks for testing the program and sharing your discovery! Previously I also realized that installation of BIOM is an issue in some computers. I found that running `conda install biom-format` before `pip install woltka` will solve the problem in some scenarios. Once Woltka becomes available in a conda channel, this issue should disappear. But for now, I think I will add an extra sta

[2020-04-06 21:50] adswafford commented on #27
Sounds good, thanks for the explanation!

[2020-04-06 21:50] #27 closed

[2020-04-07 15:41] adswafford opened #28 "Unhandled exception when file has 0 reads"
Somewhat of an edge case, but following host read removal some of our samples, e.g. blanks, can wind up with no reads in the output fastq file. It looks like this causes an unhandled exception with the tool. In the example below, the samples "EXB1C_S201_L002" has zero reads:

grep -A1 EXB1C_S201_L002 /projects/cmi_
proj/blood_microbiome/three_studies/woltka/output_taxonomy.log
Parsing alignment fi

[2020-04-07 17:25] adswafford commented on #28
Followup:
I moved all the empty files to a new subdirectory called 'empty' and relaunched the script and got a new error:
(base) [adswafford@barnacle.ucsd.edu ~ 10:20 AM]$ cat plasma_woltka_strat-1.e1315514
Traceback (most recent call last):
  File "/home/adswafford/miniconda3/envs/woltk/bin/woltka", line 8, in <module>
    sys.exit(cli())
  File "/home/adswafford/miniconda3/envs/woltk/lib/python3

[2020-04-07 18:49] qiyunzhu commented on #28
Hi @adswafford Thank you for reporting this issue! I also just encountered with it after almost finishing crunching the HMP2 dataset. Now have to relaunch... I made a quick patch in PR #29 . I think it will resolve the empty sample issue.

[2020-04-07 19:28] adswafford opened #30 "AssertionError: Conflicting values found for "RXN-12373"."
Running woltka classify as "Step 2: stratified functional profiling" with preserved --outmap in first woltka classify for taxonomy and got this error:

cat ~/plasma_woltka_strat-1.e1315562
Traceback (most recent call last):
  File "/home/adswafford/miniconda3/envs/woltk/bin/woltka", line 8, in <module>
    sys.exit(cli())
  File "/home/adswafford/miniconda3/envs/woltk/lib/python3.8/site-packages/c

[2020-04-07 19:44] qiyunzhu commented on #30
@adswafford Perhaps there are multiple mapping files with conflicting hierarchies. For example, protein-to-gene and protein-to-enzrxn cannot be supplied simultaneously (at least not for now). Can you please provide the full command?

[2020-04-07 20:21] adswafford commented on #30
yep, sorry should have done that before

 62 input_dir=/projects/cmi_proj/blood_microbiome/three_studies
 63 taxonomy=/projects/cmi_proj/blood_microbiome/three_studies/taxonomy
 64 function=/projects/wol/20170307/release/annotation
 65
 66 #do gotus
 67 echo 'starting woltk'
 68 conda activate woltk
 69
 70 echo 'woltk function for plasma'
 71
 72 #set the alignment directory
 73 align_dir=$input_

[2020-04-07 21:53] qiyunzhu opened #32 "Case insensitivity in filename matching"
Commented by @fedarko in #29 :

[2020-04-08 19:37] qiyunzhu opened #33 "Replace tree with network as the classification system structure"
Currently Woltka features a **tree**-like classification system. It is represented as a dictionary (hash table) in which each classification unit (i.e., taxon) is pointed to its parent taxon. This data structure is efficient comparing to more robust tree structures. This design is already advantageous over many existing solutions, where only a fixed series of levels (e.g., kingdom, phylum, class..

[2020-04-09 00:01] adswafford commented on #30
Expanded the command to:

And this is the output log:
(shogun-1.0.6) [adswafford@barnacle.ucsd.edu /projects/cmi_proj/blood_microbiome 04:55 PM]$ cat three_studies/woltka/output_function.log
Input directory: /projects/cmi_proj/blood_microbiome/three_studies/alignment_files.
Number of alignment files to read: 1252.
Number of alignment files to read: 1252.
Demultiplexing: off.
Stratification file di

[2020-04-09 15:12] adswafford opened #34 "TypeError: '<' not supported between instances of 'NoneType' and 'str'"
New error when running taxonomy

**Command:**
cd $tmp

in_dir=/projects/cmi_proj/blood_microbiome/niaid/combined
out_root=$in_dir/shogun
align_dir=$out_root/wol_alignments
taxonomy=/projects/cmi_proj/blood_microbiome/three_studies/taxonomy
function=/projects/wol/20170307/release/annotation

#do gotus
echo 'starting woltk'
conda activate woltk
echo 'woltk function for niaid'

#make a directory for

[2020-04-09 20:09] qiyunzhu commented on #34
Hi @adswafford Thank you for reporting this bug and providing very detailed information for debugging! I did some tests but could not replicate the error. But by reading my code I can roughly guess what could be the cause -- for one query sequence, some subject genomes cannot be assigned to a given rank while others can, causing `None` values in the result. To solve this, I made a patch in a new b

[2020-04-09 20:28] adswafford commented on #34
Thanks! I just tried out the patch and got a different error:
(woltk) [adswafford@barnacle.ucsd.edu /projects/cmi_proj/blood_microbiome/niaid 01:26 PM]$ cat ~/sam_test.e1316955
Traceback (most recent call last):
  File "/home/adswafford/miniconda3/envs/woltk/bin/woltka", line 8, in <module>
    sys.exit(cli())
  File "/home/adswafford/miniconda3/envs/woltk/lib/python3.8/site-packages/click/core.py

[2020-04-09 20:52] adswafford commented on #34
Progress after the second patch, but a new error:

**(woltk) [adswafford@barnacle.ucsd.edu /projects/cmi_proj/blood_microbiome/niaid 01:37 PM]$ cat ~/sam_test.e1316957**
Traceback (most recent call last):
  File "/home/adswafford/miniconda3/envs/woltk/bin/woltka", line 8, in <module>
    sys.exit(cli())
  File "/home/adswafford/miniconda3/envs/woltk/lib/python3.8/site-packages/click/core.py", line

[2020-04-10 16:41] qiyunzhu commented on #34
Hi @adswafford Sorry for having you waiting. I am getting back to the program. Looks like the program managed to progress till the 2nd last step! The error message "Duplicate observation IDs" suggests that there are some duplicate taxon names. I guess this is because some taxon names in NCBI taxdump are duplicate. To resolve this, you may remove `--name-as-id` from the command line, so that the ob

[2020-04-10 18:00] adswafford commented on #34
Got it, thanks for the suggestions, explanations, and investigations. I
dropped free and it seems to be running now, and I'll let you know if it
hits another snag. Thanks!

On Fri, Apr 10, 2020 at 9:42 AM Qiyun Zhu <notifications@github.com> wrote:

[2020-04-10 21:45] emikoifish opened #35 "crown is a list"
https://github.com/qiyunzhu/woltka/blob/4c9101a796a214c877c9bf38348ab15afc012d87/woltka/tree.py#L326

Does crown necessarily need to be a list or could it possibly be a set?

@qiyunzhu @gwarmstrong

[2020-04-10 22:23] #26 closed

[2020-04-10 22:44] qiyunzhu commented on #35
@emikoifish I think it is okay to be a `set`. However I guess a `list` is cheaper than a `set`, when the only thing we need to do with it is to push elements into the end of array. But I could be wrong and benchmarks will give the best answer.

[2020-04-10 23:38] qiyunzhu commented on #30
@adswafford I figured out what was the problem. This ID `RXN-12373` is found both as a reaction and a pathway, which is confusing to the program, and it doesn't make sense (apparently RXN is a reaction not a pathway). I will change the way MetaCyc information is extracted with more consideration. Will get this fixed very soon!

[2020-04-10 23:51] qiyunzhu commented on #30
@adswafford I have fixed the file `reaction2pathway.map`. I hope this is going to work now!

[2020-04-12 17:32] qiyunzhu opened #36 "Compress SAM / BLAST files"
The commonly seen alignment file formats: SAM and BLAST (b6o) are not most disk space-efficient. In particular, a SAM file generated by programs like Bowtie2 and BWA contains the entire alignment, which is not needed for most subsequent analyses. Woltka can actually compress these files for reuse:

[code]

This simplest gOTU protocol will generate maps of reads to subjects in `mapdir`. These mappi

[2020-04-12 18:43] qiyunzhu opened #37 "Medium-size test system established."
It is necessary to perform benchmarks to assess options for optimizing the code of Woltka. The test dataset bundled in this repository is too small and may not serve well for the benchmarking purpose. I created a new set of test dataset. They are located on Barnacle:

[code]

They are five SHOGUN/Bowtie2 alignment files. Running one Wolta analysis on them takes several minutes.

@emikoifish @gwarm

[2020-04-12 23:09] qiyunzhu opened #38 "Optimize cigar_to_lens function"
### What is CIGAR and why optimize

The function `cigar_to_lens` is to calculate the length of an alignment from the CIGAR string in a SAM file. The specification of SAM and CIGAR can be found [here](https://samtools.github.io/hts-specs/SAMv1.pdf). This function needs to be executed for numerous times in an analysis (once per line), and is among the bottlenecking steps.

In a test on the medium te

[2020-04-13 15:39] adswafford commented on #30
Great, I'll give it a try and let you know. I remember when I was looking
in the  reaction2pathway.map file that I saw several other RXNs as values;
should all of these be removed, or are some of them valid pathways?

On Fri, Apr 10, 2020 at 4:51 PM Qiyun Zhu <notifications@github.com> wrote:

[2020-04-13 15:57] qiyunzhu commented on #30
I also noticed and simply removed all these "RXN" values. Hope this time the file is good to go!

[2020-04-13 16:01] adswafford commented on #30
Got it, thanks!

On Mon, Apr 13, 2020, 8:57 AM Qiyun Zhu <notifications@github.com> wrote:

[2020-04-14 00:32] fedarko commented on #37
That's exciting! @qiyunzhu, are you thinking of adding some sort of automatic integration (e.g. Travis) for this? It looks like the files in `bt2sho` come out to about 321 MB total (at least judging by `du -ch`), so I understand that adding these files to this repo is probably a bad idea... however, it might be possible to use Travis' [encrypted variable support](https://docs.travis-ci.com/user/en

[2020-04-17 21:50] qiyunzhu commented on #37
@fedarko Marcus thank you for letting me know! This is new knowledge to me. I will look into that.

[2020-04-17 23:14] qiyunzhu opened #40 "Benchmark of rank assignment methods"
How expensive are the assigners in `classify.py`? Is there a necessity to optimize them? The following runtimes are based on the medium-size test dataset against the WoL database. The parameter `--rank` is set differently:

Rank:
none (i.e., gOTU): 1m14.684s
none (but read taxonomy): 1m16.028s
free: 1m25.181s
phylum: 1m27.285s
genus: 1m22.953s
species: 1m23.300s
phylum,genus,species: 1m51.762s

Th

[2020-04-18 01:23] qiyunzhu commented on #20
This feature has been added in pull request #25 .

[2020-04-18 01:23] #20 closed

[2020-04-18 01:51] qiyunzhu commented on #28
This PR has been merged so this issue is resolved.

[2020-04-18 01:51] #28 closed

[2020-04-18 04:09] qiyunzhu commented on #9
@gwarmstrong I am going back to look at this question. In issue #37, I created a realistic test dataset, based on which I performed some survey and benchmarks.

Now there are three solutions:

1. Original, pure Python solution:
[code]

2. Counter.

3. Based on the original solution, but replace Python dict with defaultdict:
[code]

Theoretically, `defaultdict` has a higher initial cost than `dict`

[2020-04-18 04:43] qiyunzhu commented on #16
I thought more carefully and planned to do the following:

I still want to keep `--map` and `--rank-table` as two parameters. I think they represent two file formats, both of which have wide use cases. I also think that "rank table" is the best name as far as I can think of. Examples include those used in Qemistree, and many instances in evolutionary biology which I encountered with.

There is one

[2020-04-18 05:33] qiyunzhu opened #41 "Cache classification result"
One thing worth optimization is the repeated `assign` calls for all query sequences. Should multiple subjects are found for a query sequence, the `assign` function will loop over the taxonomy tree and find the best taxon that best describes the subjects. This operation is expensive. Is there a way to save compute?

One idea I have is to "**cache**" previous assignments. It could be a `dict`, in wh

[2020-04-18 07:29] qiyunzhu commented on #36
Addressed in pull request #42.

[2020-04-21 18:18] qiyunzhu opened #44 "Implement and benchmark parallel (de)compression"
As @antgonza suggested in issue #42 , it is worth to explore whether Python can compress / decompress using multiple CPU cores, which will for sure significantly improve performance. Just by brief googling, it seems that Python does NOT natively support parallel (de)compression. See the official [document](https://docs.python.org/3/library/lzma.html) and this Stack Overflow [discussion](https://st

[2020-04-21 18:24] #36 closed

[2020-04-21 18:27] qiyunzhu opened #45 "Enable parallel computing"
As my recent benchmarks (issues #40, #38) suggest, a notable proportion of Woltka's runtime are on the CPU / memory side, in addition to file I/O. @adswafford once asked if we can do parallel processing. @antgonza also proposed doing paralleling zipping (PR #42). Meanwhile @wasade reminded the challenges in Python's parallel processing. I think this is an open question and derves further explorati

[2020-04-21 19:48] adswafford commented on #45
I recall that back in the day @tanaes addressed this in oecophylla by making a mode where individual files were dispatched as job submissions. Could something similar be employed here since everything is per-file until the final biom table generation?

[2020-04-21 19:58] wasade commented on #45
If woltka is sample independent, then this can be farmed out one task per job with a merge at the end

[2020-04-21 20:28] qiyunzhu commented on #45
Hi @wasade @adswafford This is correct. Woltka can totally be run separately on multiple subsets of samples and the resulting BIOM tables can be merged. No modification is needed for the current codebase.

[2020-04-21 21:02] adswafford commented on #45
So the lightest implementation then would be to write the file list to an
array and then parse it with an array job and do a final call to merge the
biom tables in the output directory?

Is there a more efficient way to construct and read the file list to
support this within the woltka codebase or as an auxilary code snippet??
I've done this before for large multiplexed files, but it was a manual

[2020-04-21 21:26] wasade commented on #45
A workflow manager like snakemake or nextflow which abstract out the resource manager may work. I do not recommend doing something homebrew that is over fit to Torque/PBS. Distributed compute is hard, and the alternative of just having the user run a few commands (e.g., one to make the script, one to merge the results) will greatly reduce developer time.

[2020-04-21 21:59] qiyunzhu commented on #45
I think a few commands (like Qiita does on SHOGUN) or a workflow manager (like Oecophylla does on SHOGUN) both work. Although in some use cases, especially when the input file is a multiplexed alignment file, as Austin brought up, it will be more favorable to have parallel computing built-in in Woltka. This would also save the cost of reading and storing taxonomy database in memory. Doing parallel

[2020-04-21 22:19] wasade commented on #45
That example is not assured to avoid memory replication. It does circumvent the GIL so multiple processors will be used.

Parallel is never easy. Simple examples work, but rarely do we do simple things. Extending this to real problems gets complex as programs are a mix of parallel and serial components, not all work is balanced either due to task size or system variability, interprocess communicat

[2020-04-22 01:04] qiyunzhu commented on #45
@wasade Thanks for explaining the challenges and risks of doing parallel compute! Much of it is beyond my current knownledge but it is good learning experience to me.

The parallel compute I envisioned is in such mechanism: each thread _reads_ from a shared large variable (the classification system), and it _writes_ to a separate variable (classification result of each chunk). Eventually, all resu

[2020-04-22 02:07] wasade commented on #41
Have you seen Python's [LRU cache](https://docs.python.org/3/library/functools.html#functools.lru_cache)?

[2020-04-22 02:18] qiyunzhu commented on #41
Beautiful! @wasade Thanks for pointing me to this cool toy!

[2020-04-22 02:34] wasade commented on #45
If parallel is being explored within an app, such as using threads or forking processes, then it is coupled. If it is external to the app, like a bunch of system calls, then it may not be coupled (or at least a lot less). The degree of coupling can be low particularly where all variables / resources are completely independent, without any need for semaphores or mutexes, to extremely tight systems

[2020-05-07 23:29] emikoifish opened #48 "Links in README not working"
A few of the links in the README are not working:

- details for gOTU table generation, broken link: https://github.com/qiyunzhu/woltka/blob/master/doc/gotu
- details for Taxonomic profiling at the ranks of phylum, genus and species, broken link: https://github.com/qiyunzhu/woltka/blob/master/doc/classify

[2020-06-21 17:59] qiyunzhu opened #50 "Benchmarks of individual steps"
Used `cProfile` plus  `snakeviz` to examine the time consumption of individual steps. It appears that:

- Alignment file processing is expensive.
- Classification is expensive.

### rank = none
![none](https://user-images.githubusercontent.com/4396343/85231642-931a9980-b3e8-11ea-98c3-66a0c9246e3f.png)

### rank = free
![free](https://user-images.githubusercontent.com/4396343/85231644-99107a80-b3e8

[2020-06-21 18:00] qiyunzhu commented on #45
Hi @wasade Thanks for explaining to me the knowledge! I just had time to seriously learn Python profiling after this long while. Made some progress, and working on bottlenecking steps accordingly. See #50 .

[2020-06-21 18:40] wasade commented on #50
:+1:, and that visualization is quite nice. I think it may be worth seeing about improving the performance of `parse_sam_line` and `assign_rank`, and possibly `find_lca`. The first one could probably be quickly tuned with Cython. In the second, it looks like `find_rank` is expensive -- is the try/except used in that function something which regularly results in the exception? If yes, then that sho

[2020-06-21 21:19] qiyunzhu commented on #50
@wasade Thank you for providing these valuable advices! I will look into individual suggestions and see if I can do something to increase the performance!

[2020-06-21 23:54] qiyunzhu opened #51 "SAM strand suffix optimization"
Original form:

A SAM file generated from paired-end sequences will have strand suffix (`/1` for forward strand, `/2` for reverse strand) trimmed (thus the query names are identical), but the strand information will be embeded in the flag (2nd column), an integer in which the 7th bit represents the forward read and the 8th bit represents the reverse read.

For example, flag = 99 (0b**1**100011) is

[2020-06-23 18:06] qiyunzhu opened #54 "Benchmark: read map data structure"
The read map (map of query sequences to subject sequences) is the most expensive object in the entire Woltka workflow. Currently, this object is generated as a **dictionary** of **set**.

[code]

I used a query-to-subject(s) mapping file generated by SHOGUN / Bowtie2 to benchmark the algorithm.

[2020-06-23 18:30] qiyunzhu commented on #54
### Dictionary vs. list(s)

Because query IDs are always sequential, it is not necessary to build a dictionary. Instead, pushing new elements to the end of list(s) is a reasonable alternative. I examined other parts of the workflow and believe that the dictionary can be swapped with list(s) without much additional efforts.

Dict (original solution)
[code]

Two list
[code]

2D list (intuitive, chec

[2020-06-23 21:40] qiyunzhu commented on #54
## List vs deque

Theoretically, deque has the advantage of appending / poping from left, though it is unclear whether appending to end or modifying last element is faster.

[code]

### Two lists / deques

List
[code]

Deque (modify last element)
[code]

Deque (pop and append)
[code]

Benchmarks
[code]
[code]

### 2D list / deque

List
[code]

Deque
[code]

Benchmarks
[code]
[code]

Conclusion:

D

[2020-06-23 21:52] qiyunzhu commented on #54
## Set vs list

In the original solution, subjects per query are added to a **set** during alignment file reading. While duplicate merging is necessary for subsequent steps, it may be an option to append subjects to a **list** during reading, then de-duplicate afterwards.

### Dictionary

Set
[code]

List
[code]

Dict of list, then => set (using list comprehension)
[code]

Dict of list, then => se

[2020-06-23 22:35] qiyunzhu commented on #54
## Class overhead

Use of Python classes, especially accession of class methods and attributes, could potentially cause an overhead. It is important to verify the results of simple codes in the context of Python classes.

Note: due to the nature of alignment file content streaming, list comprehension is not an option, and use of class attributes is necessary.

Dict of set (original)
[code]

Two li

[2020-06-23 22:48] qiyunzhu commented on #54
## Original vs. best vs. null

Original solution (class, dict, set)
[code]

Best solution (function, deque, list)
[code]

Null (read file but don't parse)
[code]

Benchmarks
[code]
[code]

Conclusion: Gain of performance = (1040 - 666) / (1040 - 349) = 54.1%.

[2020-06-24 07:56] qiyunzhu commented on #54
## Original vs. best vs. null

Original solution (class, dict, set)
[code]

Best solution (function, deque, list)
[code]

Null (read file but don't parse)
[code]

Benchmarks
[code]
[code]

Conclusion: Gain of performance = (1070 - 641) / (1070 - 355) = 60%.

[2020-06-25 21:08] qiyunzhu opened #58 "Alternative ordinal data structure"
I implemented a new data structure in PR #57 , which is a dictionary constructed incrementally from yielded read-gene pairs. It appears to have the best performance. During tests, I found an alternative data structure, which is two **ordered** queues constructed after all read-gene pairs are returned. This latter data structure has the advantage of being in order (the same order as read IDs in the

[2020-06-27 07:14] qiyunzhu commented on #38
Update: Because some CIGAR strings show up frequently (e.g., `150M`), one can use `functools.lru_cache` to significantly accelerate the calculation. Simply add a decorator: `@lru_cache(maxsize=128)` before the function.

Benchmarks on a real SHOGUN / Bowtie2 alignment file, which has 1342487 alignments:

CIGAR parsing alone:

- Before: 714 ms ± 18.4 ms per loop
- After: 85.3 ms ± 1.51 ms per loop

[2020-06-28 08:17] qiyunzhu opened #65 "Benchmarks of LCA functions"
Following @wasade 's suggestions in PR #50 as well as other thoughts, I tested multiple options of the `find_lca` function. Benchmarks were performed on a Bowtie2 alignment file of 100,000 lines against the WoL database. Summary:

- f0: original version: 184 ms ± 2.52 ms
- f1: alternative separation: 183 ms ± 483 µs
- f2: index range instead of slice: 193 ms ± 743 µs
- f3: dict for fast lookup: 24

[2020-06-28 15:57] qiyunzhu opened #66 "Centrifuge paired-end alignment file is not serial"
Centrifuge paired-end alignment file is not serial, i.e, the same read ID can occur twice in non-continuous locations in the file. This violates the working mechanism of Woltka. Need to document this to remind users: either 1) run Centrifuge with an unpaired FastQ file, or 2) Sort read IDs manually.

[2020-06-28 20:08] wasade commented on #65
Exceptions are expensive. Have you tried not using then?

I'm having a really hard time understanding what these functions are doing. Why is a tree necessary? I don't fully understand the data types here, but assuming `taxa` look something like:

[code]

then why not do something like:

[code]

It's also not obvious why a `list.index` type operation is necessary since it should be possible to walk

[2020-06-29 06:42] qiyunzhu commented on #65
@wasade : Thank you for examining my code and proposing your suggestion! Very helpful!

The variable `taxa` is a frozenset of strings, each of which is a taxon ID and the mission of this function is to find the LCA of them in the classification hierarchy. Unlike SHOGUN and other programs, `taxa` in Woltka does not contain the lineage information in itself, but the lineage information needs to be l

[2020-06-30 10:56] ekopylova opened #70 "Check for .sam.xz extension when computing number of alignment files to read"
If I pass a directory ```X``` having 1 alignment file ```.sam.xz``` and 3 non-alignment files (with extensions ```.qza, .html and .biom)``` , then run ```woltka classify``` on ```X```, the stdout reports says ```Number of alignment files to read: 4.```. Not sure if the program goes on to check the file extensions of the 4 files and only works on the one with ```.sam.xz```, however in any case the

[2020-06-30 17:00] qiyunzhu commented on #70
Hello @ekopylova The solution is to add `--filext .sam.xz` to the command. See [here](https://github.com/qiyunzhu/woltka/blob/master/doc/input.md#filename-pattern).

[2020-06-30 17:43] wasade commented on #65
Okay thanks @qiyunzhu. These functions are very difficult to follow... It may be advantageous to improve the readability through judicious comments.

It looks like what may help is reversing `lineage` up front on the assumption that most LCAs will be species/genus etc, than phylum/class. If accurate it should in effect reduce the number of comparisons made during the linear searches.

try/excepts

[2020-06-30 18:32] qiyunzhu commented on #65
@wasade Thank you! Your suggestion of reversing the lineage sounds interesting. Let me give it a try.

I benchmarked the program on a set of SHOGUN / Bowtie2 alignment files generated from CAMISIM metagenomes against WoL database. I think this is close to the most realistic scenario.

I can add more details to docstrings & comments to make the logics clear for those important functions.

[2020-07-01 09:35] ekopylova commented on #70
Thanks!

[2020-07-01 09:35] #70 closed

[2020-07-03 07:32] qiyunzhu opened #72 "Considerations of decimal or fraction arithmetic"
In the ambiguous assignment mode, for each query sequence, each classification unit is counted as 1 / k, where k is the total number of classification units assigned to this sequence. These normalized numbers will be summed up in the final profile. However, Python's floating point arithmetic is known to have [limitations](https://docs.python.org/3/tutorial/floatingpoint.html), and this may cause i

[2020-07-06 06:25] qiyunzhu opened #83 "Implement LFU cache to replace LRU cache for speed-up"
Currently Woltka uses Python's built-in `functools.lru_cache` (least recently used, [LRU](https://en.wikipedia.org/wiki/Cache_replacement_policies#Least_recently_used_(LRU))) to store recent classification results. However, because the frequencies of classification results are evenly distributed across each sample, the alternative policy, least frequently used ([LFU](https://en.wikipedia.org/wiki/

[2020-07-06 16:18] gwarmstrong commented on #72
@qiyunzhu interesting observation. Do you have a reason to believe that this is significantly impacting downstream analyses? I would say AFAIK in most instances, floating point error can be ignored. [For context](https://en.wikipedia.org/wiki/Orders_of_magnitude_(length)), a change in order of magnitude from 1 to 10^-7 cm is as large as the difference in size between a the width of a human finger

[2020-07-06 16:58] qiyunzhu commented on #72
@gwarmstrong Thank you for your insightful comments! That's a very interesting comparison :)

This issue won't significantly impacting downstream analyses. At maximum, a trivial number of cell values in the resulting feature table will differ by 1. I believe that it won't cause any problem in typical microbiome analyses. However I concern that some users may want to see exactly the same file conte

[2020-09-26 20:11] qiyunzhu opened #94 "Add support for PAF format"
[**PAF**](https://github.com/lh3/miniasm/blob/master/PAF.md) ([Li, 2016](https://academic.oup.com/bioinformatics/article/32/14/2103/1742895)) is a sequence alignment file format designed by Heng Li, the author of Minimap and BWA. It is the default output of Minimap2.

[2020-10-26 07:12] popucui opened #95 "parameters for coordinates-based functional classification using MetaCyc"
Hi guys,

I'm trying to do coordinates-based functional classification using MetaCyc following the instructions [ from woltka's doc](https://github.com/qiyunzhu/woltka/blob/master/doc/wol.md#sequence-alignment):

[code]

It seems that `annotation/coords.txt.xz` and `annotation/uniref.map.xz` are not included in shogun's default database, where I can find these or how can I build it myself if neede

[2020-10-26 15:43] qiyunzhu commented on #95
Hello @popucui Thank you for your interest in our program. These database files are not bundled with SHOGUN, but part of the WoL data release (see the "[Download via Globus](https://biocore.github.io/wol/download#download-via-globus)" section).

[2020-10-27 06:48] popucui commented on #95
Thanks a lot @qiyunzhu I'll go ahead and close this issue.

[2020-10-27 06:48] #95 closed

[2020-10-27 16:15] qiyunzhu commented on #95
@popucui You are welcome!

[2020-11-03 08:49] popucui opened #96 "Working example for coordinates-based functional classification using MetaCyc"
I followed the example commands [in woltka's doc](https://github.com/qiyunzhu/woltka/blob/master/doc/wol.md#sequence-alignment) to do coordinates-based functional classification using MetaCyc. I tried to run it using SRA data from [a paper](https://doi.org/10.1016/j.cell.2020.09.009) and the metagenome data sequenced at our lab, both runs got an empty result.

Here are the commands I used using ou

[2020-11-11 08:38] qiyunzhu commented on #96
Hi @popucui Thanks for your interest in our program. We also experienced the issue of low classification rate with MetaCyc in some instances, but completely empty outputs are not anticipated. Perhaps some upstream steps need to be adjusted. As a sanity check, if you replace `--rank protein,enzrxn,reaction,pathway,class` with `--rank none,uniref`, will you see some results?

[2020-11-12 07:40] popucui commented on #96
Hi @qiyunzhu  Thanks for your reply.
It turns out that the [shogun database](https://raw.githubusercontent.com/knights-lab/SHOGUN/master/docs/shogun_db_links.txt) used in shogun align is the reason I got empty results in `classify`. After I switched to [WoL database](https://biocore.github.io/wol/download), I got some sequences classified. Just as you point out, `--rank none,uniref` did improve th

[2020-11-12 07:40] #96 closed

[2020-11-22 17:45] qiyunzhu commented on #96
@popucui Thank you for your feedback. I am glad to know that things are improved. We are working on integrating new databases (KEGG, EggNOG, OrthoDB, etc.) as well as improving the mapping to existing databases (in particular, MetaCyc). We will keep you undated once they are in place for use.

[2021-01-25 22:58] antgonza opened #98 "possible to merge results of multiple input parameters or error out?"
For example, if I pass 3 folders:
[code]
the command runs fine to completion but only keeps the results of the last input folder. Note that all the folders contain individual xz files from overlapping samples (like raw_data/105218/sample1.xz, raw_data/105030/sample2.xz, raw_data/105030/sample1.xz, etc)  and it would be nice if the resulting files merged all the overlapping samples vs. discarding t

[2021-01-26 08:21] qiyunzhu commented on #98
@antgonza This sounds a cool idea! I will look into it.

[2021-03-01 17:30] qiyunzhu opened #102 "handling empty samples"
It was reported that when the mapping file is empty during a stratified analysis, errors were raised. Needs a mechanism to handle this.

[2021-03-02 15:48] #102 closed

[2021-04-03 04:02] qiyunzhu opened #109 "Combined genome/gene profile allowing stratification"
It is possible to add the following function, which generates a feature table, in which a feature ID contains both genome and gene information, like `G000123456|789` (the 789th gene of genome G000123456). This table will enable `collapse` with either taxonomic or functional classification, or both (i.e., stratified). With this table, one no longer needs to split taxonomic and functional analyses,

[2021-04-03 04:04] qiyunzhu opened #110 "Add normalization function"
It will be helpful to convert the profile between **sequence abundance** and **taxonomic abundance**, by normalizing feature counts by the size of the reference genome. This can be a new command: "normalize". The input files are a feature table and a simple genome-to-size mapping file.

[2021-04-06 20:06] droush opened #114 "Allow for multiple stratification levels at once during functional classification"
Taxonomic classification can be multiplexed to do multiple ranks at once, including the generation of read-to-rank maps for rank given rank.

For example,
[code]

However, a user is unable to pass a directory containing multiple read-to-rank maps to the classify function for functional stratification at multiple ranks.

i.e.
[code]

I imagine we could implement this relatively easily, with some mo

[2021-04-06 20:15] droush opened #115 "Odd error behavior when passing incorrect read-to-rank-maps directory to classify function"
If a user passes an incorrect directory to the --stratify flag two different errors occur depending on the placement of the --stratify or -t flag.

If the flag is placed directly next to the output flag -o like in the following example:
[code]
Woltka provides the following error message:
[code]
However, if the --stratify or -t flag is moved to a different location within the function call:
[code]

[2021-05-03 13:06] Mechah opened #119 "include q2-woltka at https://library.qiime2.org/plugins/"
Hi,
first of all, thanks for developing q2-woltka!
I was just surprised that q2-woltka was not included on the QIIME2 plugin Library webpage.
Is there a reason why it is not promoted there as well?

[2021-05-04 20:08] qiyunzhu commented on #119
Hello @Mechah That's a good idea! I am surprised why I haven't tried that already. Let us get to it!

[2021-05-19 18:01] mortonjt commented on #45
Agree with @wasade on profiling.  Regarding farming out jobs, it maybe worth looking into [dask_jobsqueue](https://jobqueue.dask.org/en/latest/) since it supports multiple cluster configurations, including Torque and Slurm.  This works best for embarrassingly parallel workflows.  It will certainly be an involved process, but if you can just farm out jobs on a per-sample basis, it maybe worth it.

[2021-05-21 18:31] mortonjt commented on #110
Big :+1:  on this. Normalizing by reference genome length is going to be key.

[2021-05-21 18:34] mortonjt opened #122 "How to properly specify outmap"
For instance in [here](https://github.com/qiyunzhu/woltka/blob/master/doc/stratify.md#step-1-taxonomic-classification)

1. Its not clear what `taxonomy/g2tid.txt`, as it doesn't appear to be in the WOL database.
2. Its also not clear what `coords.txt.xz` refers to [here](https://github.com/qiyunzhu/woltka/blob/master/doc/stratify.md#step-2-combined-taxonomicfunctional-classification)

EDIT: To fol

[2021-05-21 20:40] qiyunzhu commented on #122
Hello @mortonjt I think the filpath issue is because this [tutorial](https://github.com/qiyunzhu/woltka/blob/master/doc/stratify.md) is not about the WoL data release, but about the [sample data](https://github.com/qiyunzhu/woltka/tree/master/woltka/tests/data) which is part of the Woltka repo. Let me think about the second question you proposed.

[2021-05-21 20:45] qiyunzhu commented on #122
@mortonjt Could you update from the master branch and check again if the issue persist?

[2021-05-21 20:54] mortonjt commented on #122
Ah got it.  Thank you for the clarification on the documentation!

Regarding the install, I'm already on the master branch ...

[2021-05-22 00:33] mortonjt commented on #122
Update : it looks like the problem arises if looking at a single sam file - I'm able to get more reasonable results if I pass in the directory.   Not exactly sure what is going on here before - it looks like the sample name is getting dropped somewhere.

Note that enabling woltka on single sam files is highly advantageous since it'll allow for easy parallelism via job arrays as mentioned here : ht

[2021-05-29 06:08] qiyunzhu commented on #122
I see what went wrong. Woltka can accept a single input file, but in such case the program considers the file as multiplexed, and attempts to extract sample IDs from sequence IDs (e.g., `sample01_read00123`). To disable this behavior and treats a single input file as a single sample, one can add the `--no-demux` flag. This behavior is [documented](https://github.com/qiyunzhu/woltka/blob/master/doc

[2021-06-01 16:16] mortonjt commented on #122
Thanks @qiyunzhu !

[2021-06-01 16:16] #122 closed

[2021-06-08 19:46] raplayer commented on #12
I'm still getting `ValueError: Cannot determine alignment file format.` when using the centrifuge test data directory. Something wrong with the firstline of the test file? Also does not work on my own centrifuge output (which appears to have identical headers [firstline] to the test centrifuge files).

Thanks!

[2021-06-08 20:12] raplayer commented on #12
welp, it looks like it is expecting a 2 column input, not raw centrifuge input... interesting

[2021-06-22 17:36] qiyunzhu commented on #12
Hello @raplayer Thanks for reporting this issue. I believe that you have figured out that Centrifuge raw output is not currently supported as an alignment file format for Woltka. Actually, in the very beginning, Woltka was designed to work with Centrifuge outputs. You can still find the relevant [code](https://github.com/qiyunzhu/woltka/blob/master/woltka/align.py#L374) in Woltka, but we opted out

[2021-06-23 18:25] mortonjt opened #125 "Have conversion from stratified biom to melted pandas table / tensor"
Right now, the biom table OGU ids consist of both taxa and KEGG ids.  It would be nice if there were convenience functions to allow for conversions to tensors -- it is nontrivial to implement this from scratch.

I'm pretty close to a working solution, will post on this thread shortly

[2021-06-23 18:44] mortonjt commented on #125
Alright as promised, here is the solution for turning these function tables into microbe x gene counts

[code]

[2021-06-24 22:17] qiyunzhu commented on #125
@mortonjt Thank you for sharing thoughts and code! Will be great if you can clarify what is a microbe x gene counts table? By reading your code I have the following impression. Is my understanding correct?

Before:

|FeatureID|S01|S02|S03|
|---|---|---|---|
|Ecoli\|K0123|2|0|5|
|Ecoli\|K0456|13|7|4|
|Strep\|K0123|0|3|8|

After:

|OGU|KEGG|S01|S02|S03|
|---|---|---|---|---|
|Ecoli|K0123|2|0|5|
|Eco

[2021-06-25 03:35] mortonjt commented on #125
Not quite, the code that I provided loses the sample information - it also keeps track of gene copy number per microbe
So it'll look like something like

[2021-06-25 15:04] qiyunzhu commented on #125
@mortonjt Very good idea! I edited your response a bit to make the tables rendering correctly.

[2021-06-27 09:31] #110 closed

[2021-07-14 16:46] thompsrs opened #130 "Woltka tools collapse"
I'm using the woltka tools collapse command:
woltka tools collapse -i 105951_per-gene.biom -m annotation.txt -o output.biom

annotation file from: https://biocore.github.io/wol/data/markers/

It seems to work but I return 0 features after collapsing:
Number of features before collapsing: 112006.
Collapsing profile... Done.
Number of features after collapsing: 0.
Collapsed profile written.

[2021-07-16 21:22] qiyunzhu commented on #130
@thompsrs Thanks for tring our program! This command likely won't work because the annotation file is about **marker** genes used for building the phylogenetic tree, NOT the general genes inferred using the WoL SOP. The latter file(s) can be found in our FTP server or Globus endpoint.

[2021-09-05 19:36] qiyunzhu opened #138 "Adaptive range merging policy"
The frequency of merging ranges is currently hard-coded (merging is triggered after every 10,000 new ranges are added). This step is very expensive (runtime is 50%+ of the entire Woltka analysis). I tested multiple numbers but couldn't make it faster (see [details](https://github.com/dhakim87/woltka/pull/1#issuecomment-908847366)). I wonder if it's possible to implement an adaptive gradient descen

[2021-09-24 13:05] jameslz opened #144 "sam file parser wrong?"
woltka classify for align/bowtie2/S01.sam.xz

[code]

- logs

    Input alignment file: S01.sam.
    Demultiplexing: off.
    Classification will operate on these ranks: none.
    Parsing alignment file S01.sam . Done.
      Number of sequences classified: 2000.
    Classification completed.
    Format of output feature table(s): TSV.
    Writing output profiles in TSV format...
      Rank: none,

[2021-09-24 16:16] qiyunzhu commented on #144
Hello @jameslz Thanks for your interest and report. The reason is: When you analyze the original SAM files, Woltka will automatically recognize the paired-end information. For example: "ReadX 64" and "ReadX 128" (number is the SAM flag) will become "ReadX/1" and "ReadX/2" after processing. For a simple mapping file, this information is not retained, and the two reads will be merged into "ReadX". T

[2021-09-26 14:43] jameslz commented on #144
Thank you for your reply. I get the sam result after add paired-end information.

[code]

and I get

[code]

The map format may be a good  solution.

[2022-05-04 15:59] angelovaag commented on #30
Hi,
I have a similar issue using the WoLdb + its associated newick tree. If I dont use the newick tree in the commandline, the woltka classify processing goes through fine, but if added the WoL tree, I get "AssertionError: Conflicting values found for "G000005825", which is the very first entree of the GenID to taxID mapping file.

I have checked for this GenomeID and its associated taxID, but I o

[2022-05-04 16:41] #119 closed

[2022-05-04 16:48] #48 closed

[2022-05-04 16:49] #35 closed

[2022-05-04 17:14] angelovaag commented on #30
@qiyunzhu  thank you for the response. I ran Woltka is in  phylogenic classification mode and it was successful (thank yoU!), but I am not sure I understand the output, and how to use it for phylogeny-aware microbime analysis. Is there a way to produce a newick tree for each sample from Woltka?

[2022-05-04 18:00] qiyunzhu commented on #30
@angelovaag This "phylogenetic profiling" is something we are still studying. The basic rationale is that we can use nodes instead of tips to represent components of a microbiome. Whether this brings some merit to real studies is currently under investigation. Technically, you can get a newick tree for each sample. We don't have a command built-in in Woltka for this. But with scikit-bio, you can d

[2022-05-04 18:08] angelovaag commented on #30
Thank you @qiyunzhu

[2022-05-06 05:40] qiyunzhu commented on #94
Fulfilled in #155

[2022-05-06 05:40] #94 closed

[2022-05-06 05:42] #58 closed

[2022-05-25 19:04] ElDeveloper opened #162 "Support SAM file input through stdin to reduce I/O"
For cloud-based workflows, reducing the read/write steps in a pipeline impacts the cost and efficiency of the workflow. Is there a way for `woltka classify` to read data from `stdin` so pipelines that QC sequences could directly pipe into `bowtie2` for alignment and into `woltka` for classification? For example something like:

[code]

This way the only reading operation related to the sequences w

[2022-05-25 21:40] qiyunzhu commented on #162
@ElDeveloper This is a great suggestion. It has already been implemented (#155 ) and documented ([here](https://github.com/qiyunzhu/woltka/blob/master/doc/input.md#input-filepath) and [here](https://github.com/qiyunzhu/woltka/blob/master/doc/faq.md#does-woltka-support-bam-and-cram-formats)). Examples:

[code]
[code]

[2022-05-25 21:52] ElDeveloper commented on #162
That's wonderful, looks like I completely missed that. This will help a lot for sure!

[2022-05-25 21:52] #162 closed

[2022-05-25 22:53] qiyunzhu commented on #162
@ElDeveloper Was only implemented in the most recent release (v0.1.4) :)

[2022-05-26 09:06] ProsperP opened #163 "woltka classify parameter '--samples' doesn't work properly when supplied with a file (woltka, version 0.1.4, bug report)"
Hi, I was trying to run `woltka classify` with `--samples metadata.txt` parameter (where metadata.txt is a list of sample ids along with the metadata). The program would always raise `ValueError('Duplicate IDs found.')`. So, I looked back into the source code according to the Traceback and found that at the 368 line of the `workflow.py` script uses `read_ids()` function to read a "sample list file

[2022-05-26 15:17] qiyunzhu commented on #163
@ProsperP Thank you for reporting this bug and proposing a solution. I have fixed it in #164 and merged to the master branch. It should work now. The program can be updated with:

[code]

[2022-05-26 15:39] ProsperP commented on #163
@qiyunzhu Many thanks for your quick response and solution. It works now.

[2022-05-26 20:32] #163 closed

[2022-06-08 18:59] JenniferOnuora opened #165 "Finding sequences uploaded on WoL"
Hi Admin,

I am a Ph.D. student and I will be using Qiita for my shot-gun metagenomic analysis. I have specific species and strains of interest that I would like to investigate their relative abundance.

Since WoL is the reference database embedded on Qiita, how can I proceed to check if the genomes of my strains and species of interest are already uploaded to WoL?

I was directed to submit my req

[2022-06-08 19:02] JenniferOnuora opened #166 "Finding strains and sub-species on WoL"
Hi Admin,

I am a Ph.D. student and I will be using Qiita for my shot-gun metagenomic analysis. I have specific species and strains of interest that I would like to investigate their relative abundance.

Since WoL is the reference database embedded on Qiita, how can I proceed to check if the genomes of my strains and species of interest are already uploaded to WoL?

I was directed to submit my req

[2022-06-09 01:17] qiyunzhu commented on #166
Duplicate of #165

[2022-06-09 01:17] #166 closed

[2022-06-16 18:03] JenniferOnuora commented on #165
Hi @qiyunzhu

I am yet to get a response to my request. It says here on the website that WoL is based on genomes publicly available in the NCBI and Genbank: https://biocore.github.io/wol/start

My genome of interest is already uploaded to NCBI (Accession number: CP063750.1, CP063751.1, and CP063752.1 :(https://www.ncbi.nlm.nih.gov/nuccore/CP063750.1))

Is there no way to update the WoL database to

[2022-06-16 22:22] qiyunzhu commented on #165
Hi @JenniferOnuora Sorry for overlooking your response. WoL itself cannot be easily updated. But we provide a [protocol](https://github.com/qiyunzhu/woltka/blob/master/doc/refseq.md) for you to generate a custom database based on newest NCBI genomes. Hope it helps!

[2022-06-16 22:28] qiyunzhu commented on #165
We created a new method [DEPP](https://academic.oup.com/sysbio/advance-article/doi/10.1093/sysbio/syac031/6575921) to place new genomes into an existing phylogeny. We are testing it on WoL now. In the near future the application you described will become reality.

[2022-06-17 05:33] ProsperP opened #167 "different results between classify directly and collapse after"
Hi, I was trying to use `woltka classify` with stratification. However, I found that there is a difference between `classify` to a certain level (say 'ko') directly and `classify` at uniref level first then `collapse` to ko level later. I'm wondering why these two methods get different results? To make my question more clear, here's my data and some code:

[C-27.sam.gz](https://github.com/qiyunzhu

[2022-06-17 14:00] qiyunzhu commented on #167
HEllo @ProsperP Thanks for noting this. I think the reason they are different is because the direct `classify` does not handle one-to-many mappings -- in case one UniRef entry is mapped to multiple KOs, only the first KO is considered. Whereas `collapse` supports one-to-many mappings, and you will get multiple KOs in the result.

These behaviors are documented [here](https://github.com/qiyunzhu/wo

[2022-06-17 17:02] ProsperP commented on #167
Thanks for your timely response. Sorry for that I didn't make what I've noticed clear.

As I understand, using `collapse` without option `-d` would inflate the total feature count (henceforth abbreviated as TFC) in case of one-to-many mappings. However, in my case above, I got a TFC of 4954 through direct `classify`. In contrast, I only got a TFC of 4829 by doing `collapse` without the `-d` option

[2022-06-23 01:33] ProsperP commented on #167
Hi @qiyunzhu, haven't heard back from you since my last update. Still consider this difference is caused by different mappings? Hope to hear from you soon.

[2022-06-28 23:05] jlabus opened #168 "Data Transformations after Functional classification of genes"
We are interested in the functional potential of our genomes in predicting outcomes. As such the
 Qiita generated per-gene table was converted to uniref-ids and those to kegg-ids. Not surprisingly the KO dataset is skewed with lots of zeros. I am curious what the recommended transformation is priori to analysis, e,g., centered log transformation.

[2022-06-29 16:38] qiyunzhu commented on #168
Hello @jlabus Thanks for your interest in our program. Your question is very important in the field but I am not sure if there is a uniformly accepted answer. Different downstream analyses and tools will have different ways of normalization. For example, if you want to do differential abundance / expression analysis using tools like ANCOM, Masslin2, etc, you can keep the raw counts, as they will d

[2022-07-05 15:12] JenniferOnuora commented on #165
Thanks for the clarification. Well appreciated.

[2022-07-14 15:21] qiyunzhu commented on #167
Hi @ProsperP Thank you for your further comments! This is a very thoughtful suggestion. Implementing it shouldn't be hard (although implementing it without reducing performance needs some thoughts). To my knowledge, many popular metagenome profilers don't take alignment concordance into account. It may be worth doing a careful benchmarking study to see whether and how this plan improves (or the op

[2022-07-18 09:27] ProsperP commented on #167
Hi @qiyunzhu , glad to see that you're also interested in this topic. I am also not aware of any study on this topic.

For now, I only have a few thoughts on this.

First, we do need, if not a comprehensive benchmark, at least some small tests on whether and how alignment concordance impact downstream analysis in the filed of metagenomics to make a decision. As far as I know, many metagenomic prof

[2022-07-26 21:22] qiyunzhu commented on #167
Hello @ProsperP Thanks for sharing your further thoughts, which are very insightful. The point on the morphing of sequencing technology and format makes good sense to me. Similar to this question, people are also hesitating whether to merge forward / reverse reads or not. There are many things to be done in order to perfectize the analysis! I envision that utilizing the pair information instead of

[2022-09-27 14:59] mortonjt commented on #45
Is there any traction on this?  Running woltka singly threaded is now officially becoming a bottleneck -- if either multi-processing is integrated or a tutorial on how to run per-sample classification is made (to let users do their own parallelization), that would be tremendously helpful

[2022-09-27 15:11] antgonza commented on #45
In case it helps, the [Qiita's qp-woltka plugin](https://github.com/qiita-spots/qp-woltka/blob/main/qp_woltka/woltka.py#L31) does per-sample parallelization (each sample runs with 8 workers). However, this is extremely tight with the scheduler environment we use.

[2022-09-27 16:38] qiyunzhu commented on #45
@mortonjt @antgonza I do think this is an important feature to have. So far Woltka doesn't have parallelization built-in. I work-around (probably similar to what Antonio used) is to run `woltka classify` on individual (groups of) alignment files to generate multiple feature tables, then run `woltka tools merge` to merge the tables. Here is a [tutorial](https://github.com/qiyunzhu/woltka/blob/maste

[2022-09-27 17:40] mortonjt commented on #45
That tutorial is exactly what I am looking for.  Thanks! Feel free to close this issue.

[2022-10-11 18:35] ElDeveloper commented on #30
I am seeing the same issue when I try to run the following command (as suggested by [the documentation](https://github.com/qiyunzhu/woltka/blob/9d972c512223076af0ae23fd46da370d04ab9b53/doc/ordinal.md#functional-catalogs)):

[code]

This raises the following exception:

[code]

[2022-10-20 03:53] ElDeveloper commented on #30
Thanks @qiyunzhu! I can't close the issue but that solved the problem for MetaCyc. Thanks so much! 👍 Maybe worth making a note in the docs about this as a workaround? If you think that makes sense I can submit a PR.

[2022-10-20 14:09] #165 closed

[2022-10-20 14:12] qiyunzhu commented on #30
@ElDeveloper That would be great. Thank you!

I envision that Woltka's classification system needs an upgrade to make things more flexible (i.e., one classification unit identifier can be assigned to multiple levels). This isn't hard to implement, but it could reduce performance significantly. I plan to get to it during around the winter break.